<nz-modal [(nzVisible)]="isVisible" nzTitle="Thêm người dùng mới" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
    [nzOkLoading]="isConfirmLoading" [nzCentered]="true" [nzBodyStyle]="{ maxHeight: '80vh', }" nzOkText="Xác nhận"
    nzCancelText="Hủy">
    <ng-container *nzModalContent>
        <form [formGroup]="userForm" class="grid grid-cols-1 gap-4 p-4">
            <!-- Họ tên -->
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Họ tên</label>
                <input formControlName="name" nz-input placeholder="Nguyễn Văn A"
                    class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300" />
            </div>

            <!-- Email -->
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Email</label>
                <input formControlName="email" nz-input placeholder="example@gmail.com"
                    class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300" />
            </div>

            <!-- Số điện thoại -->
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Số điện thoại</label>
                <input formControlName="phone" nz-input placeholder="0912345678"
                    class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300" />
            </div>

            <!-- Mật khẩu -->
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Mật khẩu</label>
                <input formControlName="password" nz-input type="password" placeholder="Nhập mật khẩu"
                    class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300" />
            </div>

            <!-- Vai trò -->
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Vai trò</label>
                <nz-select formControlName="role" class="w-full">
                    <nz-option nzValue="user" nzLabel="User"></nz-option>
                    <nz-option nzValue="staff" nzLabel="Staff"></nz-option>
                    <nz-option nzValue="admin" nzLabel="Admin"></nz-option>
                </nz-select>
            </div>

            <!-- Trạng thái -->
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Trạng thái</label>
                <nz-select formControlName="status" class="w-full">
                    <nz-option nzValue="active" nzLabel="Active"></nz-option>
                    <nz-option nzValue="inactive" nzLabel="Inactive"></nz-option>
                    <nz-option nzValue="locked" nzLabel="Locked"></nz-option>
                </nz-select>
            </div>
        </form>


    </ng-container>
</nz-modal>