.custom-file-upload {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.file-name {
    color: #6b7280;
    /* gray-500 */
    font-size: 0.875rem;
}

.k-grid .k-checkbox {
    border: 2px solid #555 !important;
}