.custom-file-upload {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.file-name {
    color: #6b7280;
    /* gray-500 */
    font-size: 0.875rem;
}

.k-grid .k-checkbox {
    border: 2px solid #555 !important;
}

::ng-deep .k-grid .center-checkbox-column .k-cell-inner {
    justify-content: center !important;
}

::ng-deep .advanced-search-dropdown {
    background-color: white;
    padding: 1rem;
    width: 600px;
    border-radius: 0.5rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}