<kendo-grid [kendoGridBinding]="listUsers" [pageSize]="pageSize" [skip]="skip" [pageable]="true" [sortable]="true"
    (pageChange)="pageChange($event)" [height]="570">
    <!-- Xuất Excel -->
    <kendo-grid-excel fileName="Users.xlsx">
        <kendo-excelexport-column field="id" title="ID"></kendo-excelexport-column>
        <kendo-excelexport-column field="name" title="Tên người dùng"></kendo-excelexport-column>
        <kendo-excelexport-column field="email" title="Email"></kendo-excelexport-column>
        <kendo-excelexport-column field="phone" title="Số điện thoại"></kendo-excelexport-column>
        <kendo-excelexport-column field="totalOrders" title="Số đơn hàng"></kendo-excelexport-column>
        <kendo-excelexport-column field="status" title="Trạng thái"></kendo-excelexport-column>
        <kendo-excelexport-column field="role" title="Quyền"></kendo-excelexport-column>
    </kendo-grid-excel>

    <!-- Toolbar -->
    <ng-template kendoGridToolbarTemplate>
        <div class="flex justify-between items-center w-full p-2 font-medium text-[14px]">
            <div class="flex justify-between  w-full">
                <div class="flex items-center gap-2 ">
                    <button kendoButton class="k-button-md k-rounded-md bg-green-200 cursor-pointer"
                        (click)="openUserForm()">
                        + Thêm người dùng</button>
                    <button kendoButton
                        class="k-button-md k-rounded-md bg-blue-100 flex items-center gap-1 cursor-pointer">
                        <div nz-dropdown [nzDropdownMenu]="userSearchMenu" nzTrigger="click"
                            nzOverlayClassName="advanced-search-dropdown" nzPlacement="bottomLeft">
                            <nz-icon nzType="search" nzTheme="outline" />
                            Tìm kiếm
                        </div>
                    </button>

                    <!-- Nút xóa nhiều sản phẩm - hiển thị chỉ khi có mục được chọn -->
                    <ng-container *ngIf="selectedItems.length > 0">
                        <button kendoButton [disabled]="selectedItems.length === 0" (click)="openMultiDeleteDialog()"
                            class="k-button-md k-rounded-md bg-red-200 text-white">
                            <span nz-icon nzType="delete" nzTheme="outline"></span>
                            Xóa đã chọn ({{selectedItems.length}})
                        </button>
                    </ng-container>
                </div>
                <button kendoGridExcelCommand class="k-button-md k-rounded-md bg-blue-200 ">
                    <nz-icon nzType="export" nzTheme="outline" />
                </button>
            </div>
        </div>
    </ng-template>

    <!-- Cột checkbox chọn -->
    <kendo-grid-column [width]="50" [headerClass]="'center-checkbox-column'" [class]="'center-checkbox-column'">
        <ng-template kendoGridHeaderTemplate>
            <div class="flex items-center justify-center">
                <input type="checkbox" [checked]="isAllSelected" (change)="toggleAllSelection($event)"
                    class="h-4 w-4" />
            </div>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="flex items-center justify-center">
                <input type="checkbox" [checked]="isItemSelected(dataItem)" (change)="toggleItemSelection(dataItem)"
                    class="h-4 w-4" />
            </div>
        </ng-template>
    </kendo-grid-column>

    <!-- Cột hành động -->
    <kendo-grid-column title="Hành động" [width]="110">
        <ng-template kendoGridHeaderTemplate>
            <div class=" font-semibold text-[15px]">
                Hành động
            </div>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="flex justify-center items-center">
                <a nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomCenter"
                    class="cursor-pointer p-2 rounded-full hover:bg-gray-300">
                    <nz-icon nzType="bars" nzTheme="outline"></nz-icon>
                </a>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu class="py-1 shadow-lg rounded-md min-w-[110px] bg-white">
                        <li nz-menu-item class="hover:bg-blue-300 p-2 text-[14px] cursor-pointer"
                            (click)="openUserForm(dataItem)">
                            <div class="flex items-center">
                                <nz-icon nzType="edit" nzTheme="outline" class="!text-blue-500 mr-2"></nz-icon>
                                <span>Chỉnh sửa</span>
                            </div>
                        </li>
                        <li nz-menu-item class="hover:bg-red-300 p-2 text-[14px] cursor-pointer"
                            (click)="openDeleteDialog(dataItem.id)">
                            <div class="flex items-center">
                                <nz-icon nzType="delete" nzTheme="outline" class="!text-red-500 mr-2"></nz-icon>
                                <span>Xóa</span>
                            </div>
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </div>
        </ng-template>
    </kendo-grid-column>

    <!-- Cột STT -->
    <kendo-grid-column [width]="80">
        <ng-template kendoGridHeaderTemplate>
            <div class="w-full text-center font-semibold text-[15px]">STT</div>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <div class="flex items-center justify-center ">
                {{ rowIndex + 1 }}
            </div>
        </ng-template>
    </kendo-grid-column>
    <!-- Các cột dữ liệu -->
    <kendo-grid-column field="name" title="Tên người dùng">
        <ng-template kendoGridHeaderTemplate>
            <div class=" font-semibold text-[15px]">
                Tên người dùng
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="email">
        <ng-template kendoGridHeaderTemplate>
            <div class=" font-semibold text-[15px]">
                Email
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="phone" title="phone">
        <ng-template kendoGridHeaderTemplate>
            <div class=" font-semibold text-[15px]">
                Số điện thoại
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="totalOrders" title="totalOrders">
        <ng-template kendoGridHeaderTemplate>
            <div class=" font-semibold text-[15px]">
                Tổng số đơn hàng
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="status" title="status">
        <ng-template kendoGridHeaderTemplate>
            <div class=" font-semibold text-[15px]">
                Trạng thái
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="role" title="role" [width]="100">
        <ng-template kendoGridHeaderTemplate>
            <div class=" font-semibold text-[15px]">
                Quyền
            </div>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>

<app-user-form [isVisible]="isUserFormVisible" [userData]="currentUser" (modalClosed)="onModalClosed()"
    (userSaved)="onUserSaved($event)"></app-user-form>

<app-dialog-cofirm [isVisible]="isDeleteDialogVisible" (isVisibleChange)="onDialogVisibleChange()"
    (confirm)="onDeleteConfirmed($event)"></app-dialog-cofirm>

<app-dialog-cofirm-mutil [(isVisible)]="isMultiDeleteDialogVisible" [selectedItems]="selectedItems"
    (deleteConfirmed)="handleMultiDelete($event)">
</app-dialog-cofirm-mutil>

<nz-dropdown-menu #userSearchMenu="nzDropdownMenu">
    <!-- Tiêu đề -->
    <div class="text-[16px] font-medium pb-2 border-b border-gray-300">
        Tìm kiếm người dùng
    </div>

    <!-- Bộ lọc -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 my-4">
        <!-- Tên -->
        <div>
            <label class="text-sm block mb-1">Họ tên</label>
            <input nz-input [(ngModel)]="userSearchCriteria.name" placeholder="Nhập họ tên" />
        </div>

        <!-- Email -->
        <div>
            <label class="text-sm block mb-1">Email</label>
            <input nz-input [(ngModel)]="userSearchCriteria.email" placeholder="Nhập email" />
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
        <!-- SĐT -->
        <div>
            <label class="text-sm block mb-1">Số điện thoại</label>
            <input nz-input [(ngModel)]="userSearchCriteria.phone" placeholder="Nhập SĐT" />
        </div>

        <!-- Số đơn hàng -->
        <div>
            <label class="text-sm block mb-1">Tổng đơn hàng</label>
            <nz-input-number [(ngModel)]="userSearchCriteria.minOrders" [nzMin]="0" class="w-full"></nz-input-number>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
        <!-- Trạng thái -->
        <div>
            <label class="text-sm block mb-1">Trạng thái</label>
            <nz-select [(ngModel)]="userSearchCriteria.status" nzPlaceHolder="Chọn trạng thái" [nzAllowClear]="true"
                class="w-full">
                <nz-option nzValue="active" nzLabel="Active"></nz-option>
                <nz-option nzValue="inactive" nzLabel="Inactive"></nz-option>
                <nz-option nzValue="locked" nzLabel="Locked"></nz-option>
            </nz-select>
        </div>

        <!-- Vai trò -->
        <div>
            <label class="text-sm block mb-1">Vai trò</label>
            <nz-select [(ngModel)]="userSearchCriteria.role" nzPlaceHolder="Chọn vai trò" [nzAllowClear]="true"
                class="w-full">
                <nz-option nzValue="user" nzLabel="User"></nz-option>
                <nz-option nzValue="staff" nzLabel="Staff"></nz-option>
                <nz-option nzValue="admin" nzLabel="Admin"></nz-option>
            </nz-select>
        </div>
    </div>

    <!-- Nút thao tác -->
    <div class="flex justify-end gap-2 pt-2 border-t border-gray-300 mt-4">
        <button nz-button (click)="resetUserSearchCriteria()">Xóa bộ lọc</button>
        <button nz-button nzType="primary" (click)="applyUserSearch()">Tìm kiếm</button>
    </div>
</nz-dropdown-menu>